@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy-Medium.woff2');
}
html {
	scroll-behavior: smooth;
}
body,
button {
	margin: 0;
	font-family: 'Gilroy', sans-serif;
}
h2 {
	text-align: center;
	margin: 40px 0;
}
